name: Deploy Hugo site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      # --- ĐÂY LÀ ĐOẠN QUAN TRỌNG NHẤT VỚI BẠN ---
      # Vì bạn không có theme trên GitHub, đoạn này sẽ tự tải nó về máy chủ ảo
      - name: Download Theme PaperMod
        run: |
          mkdir -p themes
          rm -rf themes/PaperMod
          git clone https://github.com/adityatelange/hugo-PaperMod themes/PaperMod --depth 1

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify --theme PaperMod

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
